@charset "UTF-8";
form{
	height: 100%;
	background: #000;
	padding:8.95rem 2.275rem 3.6rem;
	background: url(../image/xgxx/bj.jpg) no-repeat;
	background-size: 100%;
	position: relative;
}
.name,.pwd{
	width: 100%;
	height: 2.075rem;
	border: 0;
	border-bottom: 1px solid #F2F2F2;
	background: rgba(0,0,0,0);
	font-size: 0.875rem;
	color: #FFFFFF;
	text-align: center;
	margin-top: 0.925rem;
	border-radius: 0;
}
.login{
	padding-left: 2.675rem;
	padding-top: 2.2rem;
}
.login input{
	font-size: 0.875rem;
	color: #FFFFFF;
	border:0;
	background: rgba(0,0,0,0);
}
.login input:nth-child(2){
	margin-left: 5.4rem;
}
.pwd-w{
	position: relative;
}
.pwd-w span{
	width: 0.95rem;
	height: 0.525rem;
	background: url(../image/xgxx/yj-2.png) no-repeat;
	background-size: 100%;
	display: block;
	position: absolute;
	right: 0.225rem;
	top: 1.7rem;
}
.pwd-w2{
	position: relative;
}
.pwd-w2 span{
	width: 0.95rem;
	height: 0.525rem;
	background: url(../image/xgxx/yj-1.png) no-repeat;
	background-size: 100%;
	display: block;
	position: absolute;
	right: 0.225rem;
	top: 1.7rem;
}
.login2{
	padding:10.475rem 1.575rem 0;
}
.login2 span{
	width: 1.175rem;
	height: 0.95rem;
	display: block;
	float: left;
}
.login2 a{
	font-size: 0.75rem;
	color: #FFFFFF;
	line-height: 0.95rem;
}
.wechat span{
	background: url(../image/xgxx/wechat.png) no-repeat;
	background-size: 100%;
	margin-right: 0.5rem;

}
.weibo span{
	background: url(../image/xgxx/weibo.png) no-repeat;
	background-size: 100%;
	margin-right: 0.5rem;
	
}
.agreement{
	font-size: 0.5rem;
	color: #FFFFFF;
	display: inline-block;
	margin-left: 5.125rem;
	margin-top: 0.875rem;
	height: 0.5rem;
	position: absolute;
	bottom: 2.325rem;
	left: 0;
}
.agreement span{
	width: 0.45rem;
	height: 0.45rem;
	background: #D7B359;
	border-radius: 50%;
	display: block;
	float: left;
	margin-right: 0.575rem;
	margin-top: 0.15rem;
}
.agreement i{
	font-size: 0.5rem;
	color: #D7B359;
}
/*协议*/
.zcxy{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	display: none;
}
.zcxy .opa{
	width: 100%;
	height: 100%;
	background:#000;
	opacity: 0.3;
}
.zcxy .msg{
	width: 85%;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    margin-left: 5%;
    margin-top: 1rem;
	border-radius: 0.2rem;
	padding: 0.5rem;
}
.zcxy .msg .cont{
    height: 22.5rem;
    overflow: hidden;
	overflow-y: scroll;
}
.zcxy .msg .cont h1{
	font-size: 1.0rem;
	text-align: center;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.zcxy .msg .cont h2{
	font-size: 0.75rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}
.zcxy .msg .cont p{
	font-size: 0.5rem;
	text-indent: 2em;
}
.xian{
	width: 0.1rem;
    height: 1.5rem;
    background: #fff;
    position: absolute;
    right: 0.925rem;
    bottom: -1.3rem;
}
.close{
	width: 1.3rem;
    height: 1.3rem;
    background-size: 100%;
    position: absolute;
    right: 0.3rem;
    bottom: -2.5rem;
}