@charset "UTF-8";
body{
	background: #f2f2f2;
}
form{
	padding: 0.5rem 0.4rem;
}
img{
	width: 100%;
}
.ddxx{
	background: #fff;
	border-radius: 0.2rem;
	padding: 0.75rem 0.75rem 0.75rem;
	margin-bottom: 0.5rem;
}
.ddxx .tel,.ddxx .tel2{
	border-bottom: 1px solid #E0E0E0;
	padding-bottom: 0.5rem;
	margin-left: 1.1rem;
}

.ddxx2{
	background: #fff;
	border-radius: 0.2rem;
	padding: 0.75rem 0.75rem 0.75rem;
	margin-bottom: 0.5rem;
}
.ddxx2 .tel,.ddxx2 .tel2{
	margin-left: 1.1rem;
}
.tel span.tel-logo, .tel2 span.tel-logo{
	width: 0.75rem;
	height: 0.8rem;
	display: block;
	background:url(../image/tjdd/tel.png) no-repeat;
	background-size: 100%;
	margin-left: -1.3rem;
	margin-top: 0.075rem;

}
.tel2 .num2 input{
	border-radius: 0;
	display: hidden;
	font-size: 0.625rem;
	border:0; 
}
.tel .alter span.xg{
	width: 0.4rem;
	height: 0.45rem;
	display: block;
	background: url(../image/tjdd/xg.png) no-repeat;
	background-size: 100%;
	float: left;
	margin-top: 0.2rem;
	margin-right: 0.175rem;
}

.tel span.tel-logo, .tel2 span.tel-logo{
	width: 0.75rem;
	height: 0.8rem;
	display: block;
	background:url(../image/tjdd/tel.png) no-repeat;
	background-size: 100%;
	margin-left: -1.3rem;
	margin-top: 0.075rem;

}
.tel .alter span.xg{
	width: 0.4rem;
	height: 0.45rem;
	display: block;
	background: url(../image/tjdd/xg.png) no-repeat;
	background-size: 100%;
	float: left;
	margin-top: 0.2rem;
	margin-right: 0.175rem;
}

.tel2 .alter span.xg{
	width: 0.4rem;
	height: 0.45rem;
	display: block;
	background: url(../image/tjdd/xg-2.png) no-repeat;
	background-size: 100%;
	float: left;
	margin-top: 0.2rem;
	margin-right: 0.175rem;
}
.tel2 .alter{
	font-size: 0.55rem;
	color: #D7B359;
}
.tel .alter,.tel2 .alter{
	margin-top: 0.075rem;
}
.tel .alter span.xg{
	width: 0.4rem;
	height: 0.45rem;
	display: block;
	background: url(../image/tjdd/xg.png) no-repeat;
	background-size: 100%;
	float: left;
	margin-top: 0.2rem;
	margin-right: 0.175rem;
}

.tel2 .alter span.xg{
	width: 0.4rem;
	height: 0.45rem;
	display: block;
	background: url(../image/tjdd/xg-2.png) no-repeat;
	background-size: 100%;
	float: left;
	margin-top: 0.2rem;
	margin-right: 0.175rem;
}
.tel .num, .tel i,.tel2 .num,.tel2 i{
	font-size: 0.625rem;
	color: #4A4A4A;
}
.tel2 .num2 input{
	border-radius: 0;
	display: hidden;
	font-size: 0.625rem;
	border:0; 
}
.tel .alter{
	font-size: 0.55rem;
	color: #4A4A4A;
}
 .tel2 .alter{
	font-size: 0.55rem;
	color: #D7B359;
}
.yyje{
	margin-left: 1.1rem;
	margin-top: 0.6rem;
}
.yyje .je,.yyje .je i{
	font-size: 0.625rem;
	color: #4A4A4A;
	letter-spacing: 0px;
}
.yyje .jf,.yyje .jf i{
	font-size: 0.55rem;
	color: #9B9B9B;
}

/*协议*/
.xy span{
	width: 0.55rem;
	height: 0.55rem;
	background: #E0E0E0;
	display: block;
	border-radius: 50%;
	float: left;
	margin-right: 0.5rem;
	margin-top: 0.075rem;
}
.xy i{
	font-size: 0.5rem;
	color: #D7B359;
}
.xy{
	font-size: 0.5rem;
	color: #6D6D6D;
	margin-top: 0.5rem;
}
/*占位*/
.zw{
	width: 100%;
	height: 2.45rem;
}

/*服务协议*/
.fwxy{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background:100%;
	margin: 0 auto;
	display: none;
}
.fwxy .opa{
	background:#000;
	height: 100%;
	opacity: .3;

}
.fwxy .xy{
	width: 15.5rem;
	height: 22.0rem;
	background: #fff;
	top: 1.0rem;
	border-radius: 0.375rem;
	padding: 0 10px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y:scroll;
}
.fwxy .xy h2{
	text-align: center;
	font-size: 0.6rem;
	margin:0.25rem 0;
}
.fwxy .xy h3{
	font-size: 0.6rem;
}
.fwxy .xy p{
	font-size: 0.5rem;
}
.tiao{
	width: 0.1rem;
	height: 2.0rem;
	background: #fff;
	position: absolute;
	right: 1rem;
	bottom: -2rem;
	z-index: 2
}
.close{
	width: 1.3rem;
	height: 1.3rem;
	background: url(../image/tjdd/close.png);
	position: absolute;
	bottom: -3.2rem;
	right: .4rem;
	background-size: 100%;
	z-index: 2;
}
.quantity{
    height: 1.25rem;
}
.quantity .btn-minus,.quantity .btn-plus{
    width: 1.25rem;
    height: 100%;
    border: 1px  solid #D7D4D4;
    text-align: center;
}  
.quantity .btn-minus img,.quantity .btn-plus img{
    width: 0.5rem;
    height: 0.5rem;
    margin-top: 0.375rem;
}
.quantity p{
    float: left;
}
.quantity .btn-input input{
    border:none;
    text-align: center;
    width: 2.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: 0.6rem;
    color: #4A4A4A;
    border-top: 1px solid #D7D4D4;
    border-bottom: 1px solid #D7D4D4;
    border-radius: 0;

}

.item-cb{
    margin-right: 0.3rem;
    margin-top: 0.2rem;
    margin-left: 0.3rem;
}
.item-cb input{
    display: none;
}
.item-cb label{
    width: 0.5rem;
    height: 0.5rem;
    background: #EDEDED;
    border-radius: 50%;
    display: block;
}
.item-cb input:checked + label{
    background: #D7B359;
}

/*购买信息*/
.bundlev{
    background: #fff;
    border-radius: 0.2rem;
    padding:0.75rem;
}
.tcont{
    width: 100%;
    height: 100%;
}
.contcat a{
    font-size: 0.65rem;
    color: #4A4A4A;
    line-height: 0.65rem;
}
.tcont .t-c{
    width: 100%;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #D7D4D4;
    margin-bottom: 0.75rem;
}
.group{
	margin-bottom: 0.75rem;
}
/*内容*/

.item-img {
    width: 3.625rem;
    height: 3.5rem;
    border-radius: 0.2rem;
    overflow: hidden;
    margin-right: 0.5rem;
}
.item-info{
    width: 12rem;
}
.item-info a .sku{
    font-size: 0.6rem;
    color: #4A4A4A;
    line-height: 0.875rem;
}
.item-info a .money1{
    font-size: 0.6rem;
    color: #4A4A4A;
    margin-top: 0.5rem;
}
.item-info a .money1 i{
    font-size: 0.6rem;
    color: #4A4A4A;
    margin-top: 0.5rem;
}
.price{
    font-size: 0.65rem;
    color: #4A4A4A;
    margin-top: 0.5rem;
}
.price i{
    font-size: 0.65rem;
    color: #4A4A4A;
    margin-top: 0.5rem;
}
.quantity{
    height: 1.25rem;
}
.quantity .btn-minus,.quantity .btn-plus{
    width: 1.25rem;
    height: 100%;
    border: 1px  solid #D7D4D4;
    text-align: center;
}  
.quantity .btn-minus img,.quantity .btn-plus img{
    width: 0.5rem;
    height: 0.5rem;
    margin-top: 0.375rem;
}
.quantity p{
    float: left;
}
.quantity .btn-input input{
    border:none;
    text-align: center;
    width: 2.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: 0.6rem;
    color: #4A4A4A;
    border-top: 1px solid #D7D4D4;
    border-bottom: 1px solid #D7D4D4;
    border-radius: 0;

}
.item-detail .pay{
    margin-top: 0.125rem;
}

/*footer预约金额*/
.tj{
	width: 100%;
	height: 2.45rem;
	background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
}
.tj .je{
	width: 10.2rem;
	height: 2.45rem;
	background: #fff;
	border-right: 1px solid #D7B359;
	text-align: left;
	padding-left: 1.5rem;
	font-size: 0.75rem;
	color: #4A4A4A;
}

.tj .dd{
	width: 7.0rem;
	text-align: center;
	font-size: 0.75rem;
	color: #D7B359;
	letter-spacing: 0px;
	line-height: 2.45rem;
}
/*预约金额*/
.f-yyje{
	font-size: 0.75rem;
	line-height: 0.75rem;
	margin-top: 0.4rem;
}
.f-yyje i{
	font-size: 0.75rem;
}
.f-dyyzf{
	/*margin-top: */
	margin-top: 0.2rem;
	line-height: 0.5rem;
	font-size: 0.5rem;
}
.f-dyyzf i{
	font-size: 0.5rem;

}
/*一元购参加金额*/
.cjje{
	font-size: 0.75rem;
	line-height: 2.45rem;
}
.cjje i{
	font-size: 0.75rem;
}
.fwxy-w{
	position: absolute;
	z-index: 1;
	margin-left: 1.25rem;
}