@charset "UTF-8";
body{
	background: #f2f2f2;
	padding:0.5rem 0.4rem;
}
.change {
	background: #fff;
	border-radius: 0.2rem;
	overflow: hidden;
	padding-left: 0.75rem;
}
.change input{
	height: 2.1rem;
	line-height: 2.1rem;
	font-size: 0.625rem;
	border:0;
	border-radius: 0;
	float: left;
	width: 14.65rem;
}
.change .name input{
	border-bottom: 1px solid #E0E0E0;
}
.change .tel span{
	width: 0.8rem;
	height: 0.8rem;
	float: left;
	display: block;
	margin-top: 0.6rem;
	margin-right: 0.55rem;
	background: url(../image/xgxx/tel.png);
	background-size: 100%;
}
.change .name span{
	width: 0.85rem;
	height: 0.875rem;
	float: left;
	display: block;
	margin-right: 0.55rem;
	background: url(../image/xgxx/name.png);
	background-size: 100%;
	margin-top: 0.65rem;
}
.name,.tel{
	width: 100%;
}
.tj{
	width: 100%;
}
.tj input{
	width: 100%;
	height: 2.45rem;
	position: fixed;
	border:0;
	bottom: 0;
	left: 0;
	background: #D7B359;
	font-size: 0.875rem;
	color: #FFFFFF;
	border-radius: 0;
	text-align: center;
}
.tjcg{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
.opa{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.3;
	
}
.success{
	width: 13.725rem;
	padding-top: 2.875rem;
	background: #fff;
	border-radius: 0.2rem;
	z-index: 5;
	position: absolute;
	left: 2.5rem;
	top: 9.3rem;
	text-align: center;
	padding-bottom: 2.3rem;
}
.success img{
	width: 4.65rem;
	height: 1.125rem;
	background-size: 100%;
}
.success p{
	font-size: 0.75rem;
	color: #4A4A4A;
	letter-spacing: 0.0rem;
	margin-top: 1.625rem;
}
.success .xian{
	width: 0.1rem;
	height: 2.75rem;
	background: #fff;
	position: absolute;
	right: 0.925rem;
	bottom: -2.7rem;
}
.success .close{
	width: 1.3rem;
	height: 1.3rem;
	background: url(../image/xgxx/close.png);
	background-size: 100%;
	position: absolute;
	right: 0.3rem;
	bottom: -4rem;
}
.sex div{
	float: left;
}
.data{
	background: #fff;
	margin-bottom: 0.5rem;
	border-radius: 0.2rem;
}
.sex {
	padding: 1.325rem 0 1.325rem 1.75rem;
}
.age{
	margin-top: 0.725rem;
	margin-right: 2.25rem;
}
.age p label{
	width: 4.025rem;
	height: 1.275rem;
	border: 1px solid #D7B359;
	border-radius: 0.2rem;
	text-align: center;
	color: #6D6D6D;
	line-height: 1.275rem;
	font-size: 0.625rem;
	display: block;
}
.age p input:checked+label{
	background: #D7B359;
	color: #fff;
}
.age p:nth-child(2){
	margin: 0.5rem 0;
}
.age p.on{
	background: #D7B359;
	color: #fff;
}
.girl label{
	width: 3.625rem;
    height: 3.625rem;
    float: left;
    margin-right: 0.75rem;
    background:url(../image/xgxx/girl.png);
    background-size: 100%;
}
.girl input:checked+label{
	background:url(../image/xgxx/girl-on.png);
    background-size: 100%;
}
.boy label{
	width: 3.625rem;
    height: 3.625rem;
    float: right;
    margin-right: 0.75rem;
    background:url(../image/xgxx/boy.png);
    background-size: 100%;
}
.boy input:checked+label{
	background:url(../image/xgxx/boy-on.png);
    background-size: 100%;
}